*.lock
*.log
*.ini
*.zip
*.location
*.tree
*.version
*.index
*.resources
*.prefs
*.dat
*.xml
*.xmi
*.project
*.setup
*.properties
Multicampus/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Multicampus/.metadata/.mylyn/.taskListIndex/segments_1
Multicampus/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Multicampus/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Multicampus/.metadata/.plugins/org.eclipse.ui.intro/introstate
